# Gitted import/export of sub Gitted targets

[state]
        driver = gitted-target
        target = lxc:[*]
        init-custom = ssh-pubkey,git-user,lxc:unconfined

        # # For LVM configurations:
        # init-backing-store = lvm
        # init-fssize = 4G

# [target "sub1"]
#         target = lxc:sub1
