#
# Default configuration for a state branch
#
# It provides the actual default values to /usr/bin/gitted and is required for
# it to function. It happens to be also the documentation for the
# configuration items supported by Gitted (excluding driver-specific sections).
#
# It is part of the Gitted distribution,
# do not change it for custom purposes!
# Change instead: /etc/gitted/state.default.config
#


[state]
        # This is the main section. Other sections will overload it

        # If false, the state is ignored as if it did not exist.
        enabled = true

	# driver in lowercase. It must be an exacutable at
	# /usr/lib/gitted/driver-<value>
	driver =

        # Whether it is a state branch ref or a directory of branches.
	dirMode = false


[status]

        # If false..?
        enabled = true


[commit]

        # When false, the "gitted commit" operation is forbidden.
        # It is necessary for the drivers which do not support it.
        #
        # When a commit
        #
        enabled = true


[reset]
        # When false, the "gitted reset" operation is forbidden.
        enabled = true

[reset "hard"]

[mysql]

        database = toto

# Driver-specific sections should also be included on the state config.
# See: /usr/share/doc/gitted/state.example/
