# Gitted import/export of the /sysconf repository, index and work tree
#
# If this config needs to be changed for a more specific sysconf layer,
# the file should be "overloaded" by setting it in the tree/etc/gitted/state/
# directory of that layer.
#

[state]
        driver = git-remote

[git-remote]
        url = /sysconf

        # Ignore tags and other non-branch refs on remote.
        # Branch names will be synced with same-name sub-branch on Gitted.
        remoteRefs = refs/heads/*
        localRefs = *

        autoGittedCommit = true
